{% extends "base.html" %}
{% load static %}
<!--=================================================================-->
{% block title %}極小画廊_ログアウト{% endblock %}
{% block title2 %}極小画廊{% endblock %}
{% block description %}ログアウト{% endblock %}
<!--=================================================================-->
    
    {% block contents %}
    <div>
        <h1 style="text-align: center;">ログアウトしました</h1>
        <br>
        <p style="text-align: center;"><a href="{% url "print:index" %}">＞＞トップページへ＜＜</a></p>
        <br><br><br>
    </div>
    {% endblock %}








